
@{
    ViewBag.Title = "adminpage";
}
<center>

    <h2>Admin Panel</h2>
</center>

<br />
<hr />
<h2>
    List of all employes
</h2>



<center>
    <h2 style=" background-color: black; color: white; font-family:'sans-serif'">Click To View List of Employees</h2>

    <button onclick="location.href='GetAllRecords'" type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">List</button>

</center>









